#bg_cover {
	width: 100%;
}

#main_cover {
	position: absolute;
	top: 49%;
	left: 50%;
	width: 940px;
	height: 1000px;

	margin-top: -250px;
	margin-left: -460px;
	padding: 10px;

	background-color: white;
}

.lt_circle {
	width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 10px;
}

.main_shortcut ul {
	float: right;	
}

.main_shortcut li {
	position: relative;
	left: -20px;
	display: inline-block;
	font-size: 20px;
	font-weight: bolder;
	color: white;
	margin-left: 20px;
}

.main_shortcut a {
	color: white;
	text-decoration: white;
}

#main_container {
	width: 940px;
	height: 260px;
	padding-bottom: -5px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/bg_inner.png");
	margin-top:5px;
	margin-bottom: 30px;
}

.sub_logo {
	position: relative;	
	top:50px;
	left: 50%;
	margin-left: -227px;

}

.sub_title {
	position: relative;	
	top:50px;
	left: 50%;
	margin-left: -135px;
	color: white;
}

.main_logo {
	/*height: 200px;*/
	position: absolute;
	top:80px;
	left:50%;
	margin-left: -166px;

	/*text-align: center;*/
}


/*ProgressBar*/
#progress_bar {
	width: 940px;
	text-align: center;
}

#progress_bar td {
	width: 313px;
	padding: 5px;
}

#lecture_selector {
	margin-top: 30px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}

/*selectbox*/
.select_box {
	margin: 0px auto;
}


/*Conetent*/


#lecture_features {
	background-color: white;	
	padding: 20px 0px;
}

#feature_table {
	width: 940px;
	max-width: 940px;
	height: 300px;	
	text-align: center;
}

#feature_table td {
	width: 180px;
	background-color: rgba(9,59,72,1);
	font-size: 20px;
	color: white;
	font-weight: bold;
}

#select_feature {
	text-align: center;
}

#select_feature button{
	width: 150px;
	height: 50px;
	margin:0px auto;
	margin-top: 30px;
}

/*Condition*/

#main_contatiner form {
	margin:0px auto;
}

.category_select {
	width: 600px;
	margin: 0px auto;
}

.category_select_box {
	display: inline-block;
	margin-right: 20px;

}

.category_select_box span {
	font-size: 20px;
}

.category_select_box img {
	position: relative;
	top: -5px;
	width: 4px;
	padding-right: 10px;
}


.category_select_box select {
	width: 100px;
}



/*table*/
#result_table {
	width: 920px;
	max-height: 600px;
	overflow-y: visible;
}

#result_table th {
	height: 40px;
	background-color: #053b4e;
	color: white;
}

#result_table td {
	border-right: 1px solid #053b4e;
	height: 40px;
	padding-left: 2px;
}



/*ALL*/
h2 {
	margin-top: 50px;
	color: #c2c2c2;
	text-align: center;
}